/*
blue-green: #96CEB4
yellow: #FFEEAD
redish: #D9534F
orange: #FFAD60
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Plaster&display=swap');

*, html {
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

body {
  background-color: #fefaf6;
}

.btn {
  background-color: black;
  border-radius: 20px;
  color: white;
}

#navBar {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(to right, #96CEB4, white);
    display: flex;
    align-items: center;
    z-index: 1;
}
#logo {
    font-family: 'Plaster', cursive;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
  
}

#enter-book {
  display: flex;
  flex: 33%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

#query{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #dddddd;
    padding: 2px;
    margin-right: 5px;
}

#searchBtn {
  float: left;
  margin-right: 20px;
}

.headerBtn {
  width: auto;
  align-items: center;
  padding: 5px;
  height: 40px; 
}
#sortBtn {
  width: auto;
  background-color: black;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  margin-right: 10px;
}
.search {
  background-color: black;
}

#wishlist {
  margin-right: 20px;
}

.search-section {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  background: white;
  flex-basis: 1;
  width: 21%;
  margin: 15px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px;
  font-weight: 200;
  
}

.info {
  font-weight: 400;
}

.description {
  font-style: italic;
  margin-top: 20px;
}

.add {
  border: none;
  background: white;
}

.book:hover {
  border: 1px solid #9D84B7;
}

.btn:hover {
  color: #FFEEAD;
}

#wishlist-pop-up {
  position:absolute;
  height: auto;
  width: 50%;
  margin: 100px 25% auto 25%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  z-index: 1;
  background-color: white;
  visibility: hidden;
  
}

.wishListHeader {
  font-family: 'Plaster', cursive;
  text-align: center;
}

#exit-list {
  float: left;
  border: none;
  background: none;
}

.saved-book {
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.remove-saved {
  align-items: center;
  border: none;
  background: none;
  
}

/*Responsivity section */

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 900px) {
  .book {
      width: 100%;
      margin: 20px 0;
  }

  #wishlist-pop-up {
    width: 85%;
    margin: 100px 0 auto 0;
    justify-content: center; /*center list */
  }

  #navBar {

  }

  #logo {

  }

  #enter-book {

  }

  #wishlist {

  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .book {
      width: 15%;
      margin: 15px 0;
  }

}