/*
blue-green: #96CEB4
yellow: #FFEEAD
redish: #D9534F
orange: #FFAD60
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Plaster&display=swap');

*, html {
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

body {
  background-color: #fefaf6;
}

.btn {
  background-color: black;
  border-radius: 20px;
  color: white;
}

#navBar {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(to right, #96CEB4, white);
    display: flex;
    align-items: center;
    z-index: 1;
}
#logo {
    font-family: 'Plaster', cursive;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
  
}

#enter-book {
  display: flex;
  flex: 33%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

#query{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #dddddd;
    padding: 2px;
    margin-right: 5px;
}

#searchBtn {
  float: left;
  display: inline-block;
  margin-right: 20px;
}

.headerBtn {
  width: auto;
  align-items: center;
  padding: 5px;
  height: 40px; 
}
#sortBtn {
  width: auto;
  background-color: black;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  margin-right: 10px;
}
.search {
  background-color: black;
}

#wishlist {
  margin-right: 20px;
}

#sortbyDiv {
  position: relative;
  display: inline-block;
  margin: 20px;
}

#sortby {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

#sortby option {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

#sortby option:hover {
  background-color: #FFAD60;
}

.search-section {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: white;
  flex-basis: 1;
  width: 15%;
  margin: 3.3%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px;
  font-weight: 200;
  
}

.info {
  font-weight: 400;
}

.description {
  font-style: italic;
  margin-top: 20px;
}

.add {
  border: none;
  background: white;
}

.book-hover {
  border: 1px solid #9D84B7;
}

.button-hover {
  color: #FFEEAD;
}

#wishlist-pop-up {
  position:absolute;
  height: auto;
  width: 50%;
  margin: 100px 25% auto 25%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  z-index: 1;
  background-color: white;
  visibility: hidden;
  
}

.wishListHeader {
  font-family: 'Plaster', cursive;
  text-align: center;
}

#exit-list {
  float: left;
  border: none;
  background: none;
}

.saved-book {
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.remove-saved {
  align-items: center;
  border: none;
  background: none;
  
}

